@font-face {
    font-family: 'Roboto';
    src: url("Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: 'Roboto';
    /* background-image: linear-gradient(283deg, rgba(228, 228, 228,0.04) 0%, rgba(228, 228, 228,0.04) 30%,rgba(130, 130, 130,0.04) 30%, rgba(130, 130, 130,0.04) 49%,rgba(31, 31, 31,0.04) 49%, rgba(31, 31, 31,0.04) 100%),
                      linear-gradient(297deg, rgba(228, 228, 228,0.04) 0%, rgba(228, 228, 228,0.04) 20%,rgba(130, 130, 130,0.04) 20%, rgba(130, 130, 130,0.04) 60%,rgba(31, 31, 31,0.04) 60%, rgba(31, 31, 31,0.04) 100%),
                      linear-gradient(242deg, rgba(228, 228, 228,0.04) 0%, rgba(228, 228, 228,0.04) 29%,rgba(130, 130, 130,0.04) 29%, rgba(130, 130, 130,0.04) 48%,rgba(31, 31, 31,0.04) 48%, rgba(31, 31, 31,0.04) 100%),
                      linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0)); */
                      background-image: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, rgba(67, 67, 67, 0.02) 29%,rgba(47, 47, 47, 0.02) 29%, rgba(47, 47, 47, 0.02) 37%,rgba(23, 23, 23, 0.02) 37%, rgba(23, 23, 23, 0.02) 55%,rgba(182, 182, 182, 0.02) 55%, rgba(182, 182, 182, 0.02) 69%,rgba(27, 27, 27, 0.02) 69%, rgba(27, 27, 27, 0.02) 71%,rgba(250, 250, 250, 0.02) 71%, rgba(250, 250, 250, 0.02) 100%),
                                        linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, rgba(117, 117, 117, 0.02) 14%,rgba(199, 199, 199, 0.02) 14%, rgba(199, 199, 199, 0.02) 40%,rgba(33, 33, 33, 0.02) 40%, rgba(33, 33, 33, 0.02) 48%,rgba(135, 135, 135, 0.02) 48%, rgba(135, 135, 135, 0.02) 60%,rgba(148, 148, 148, 0.02) 60%, rgba(148, 148, 148, 0.02) 95%,rgba(53, 53, 53, 0.02) 95%, rgba(53, 53, 53, 0.02) 100%),
                                        linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 6%,rgba(251, 251, 251, 0.02) 6%, rgba(251, 251, 251, 0.02) 18%,rgba(2, 2, 2, 0.02) 18%, rgba(2, 2, 2, 0.02) 27%,rgba(253, 253, 253, 0.02) 27%, rgba(253, 253, 253, 0.02) 49%,rgba(128, 128, 128, 0.02) 49%, rgba(128, 128, 128, 0.02) 76%,rgba(150, 150, 150, 0.02) 76%, rgba(150, 150, 150, 0.02) 100%),
                                        linear-gradient(90deg, #ffffff,#ffffff);
    color: black;
    min-height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

header {
    border-bottom: 1px solid #eee;
    background-image: linear-gradient(to right top, #ffffff, #fefefe, #fcfdfc, #fbfbfb, #fafafa, #f9f9f9, #f7f7f7, #f6f6f6, #f5f5f5, #f3f4f3, #f2f2f2, #f1f1f1);
}

.title {
    text-align: center;
    margin: 3rem auto 5rem auto;
    font-size: 40px;
    max-width: 80%;
}

.subtitle {
    line-height: 1.9em;
    letter-spacing: .03em;
    text-align: justify;
}

.tabs {
    margin: 3rem 0;
    display: flex;
    justify-content: center;;
}

.tab {
    padding-left: 80px;
}

.image-wrapper {
    width: 100%;
}

.image-wrapper > img {
    display: block;
    margin: 0 auto;
}

.header-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-home {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 2rem;
}

.header-tab {
    border: 1px solid #ddd;
    text-decoration: none;
    color: #666;
    padding: .75rem 2rem;
    margin: 0 1rem;
}

.header-contact {
    color: #444;
    margin-left: auto;
}

.header-survey {
    border: 1px solid rgb(112, 179, 255);
    color: rgb(69, 156, 255);
}

.header-tab:hover {
    background: #f3f3f3;
}

.header-survey:hover {
    background: rgba(112, 179, 255, 0.1); 
}

main {
    max-width: 1300px;
    margin: 0 auto 5rem auto;
}

table {
    width: 100%;
    text-align: center;
}


.history-table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    max-width: 1100px;
    margin: 0 auto;
}

.history-table__header {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.history-table__content {
    padding: 1rem 2rem 1rem;
}

.history-table__header-sector {
    min-width: 240px;
    text-align: center;
    border-right: 1px solid lightgray;
    margin: 0;
    padding: 2.2rem 0;
}

.history-table__header-change {
    width: 100%;
}

.history-table__header-change__description {
    position: relative;
    height: 30px;
    font-size: 12px;
}

.history-table__header-change__description > span {
    position: absolute;
    font-weight: 300;
}

.historical-sector {
    display: flex;
    width: 100%;
    justify-content: space-between;   
}

.historical-footer {
    padding: .5rem 2rem 1.25rem 2rem;
}

.historical-legend {
    width: 811px;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.historical-legend__title {
    text-align: center;
}

.historical-legend__title h3{
    margin-bottom: .3rem;
}


.historical-scale {
    height: 120px;
    width: 15px;
    margin: 0 .5rem 0 2rem;
    border: .5px solid black;
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(255, 0, 0, 0.8));
    background-repeat: no-repeat;
}

.historical-scale__explanation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
    max-width: 350px;
}

.historical-scale__explanation > p {
    margin: 0;
    font-size: 11px;
}

.industry-table {
    max-width: 1100px;
    margin: 0 auto;
}

.industry-table, 
.industry-table th, 
.industry-table tr, 
.industry-table td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
td {
    padding: 1.5rem;
}

.chart {
    margin: 0 auto;
    width: 600px;
    height: 200px;
}

.large-chart {
    width: 100%;
    height: 500px;
}




#sector-filter {
    background: #e2e1e159;
    margin-bottom: 10px;
    border: #dadada;
    border-width: 1px;
    border-style: solid;
}

.sector-filter-item {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
}

.sector-filter-item input {
    height: 18px;
    width: 18px;
    background-color: #eee;  
}

.sector-filter-item span {
    display: inline-block;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 16px;
    user-select: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc(50% - 5px);
    height: 320px;
}
.col.right {
    margin-left: 5px;
}

.col.left {
    margin-right: 5px;
}

.full-width-col {
    float: left;
    width: 100%;
    height: 320px;
}



.container {
    margin-left: 15px;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #cae;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #caa;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #123456;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  
#map-chart-div {
    width: calc(100% - 20px);
    border: solid #e4e4e4;
    border-width: 1px;
    height: 800px;
    margin-bottom: 10px;
    padding: 10px;
}

#legend {
    color: black;
    background-color: white;
    border: solid #e4e4e4;
    border-width: 1px;
}

#map-legend-div {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to left, green, white, red);
    position: relative;
    display: block;
  }

  #legend-text-div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}